<h3 class="mat-display-1 mb-4">
    <a [routerLink]="['/login']"><mat-icon matTooltip="Login">arrow_back_ios</mat-icon></a>
Register</h3>
    <div class="alert alert-danger" role="alert" *ngIf="errors">
        {{errors}}
    </div>
    <div class="row mb-3">
       <div class="col-sm-6 col-md-3">
            <input type="file" name="file" accept='image/*' (change)="onFileChanged($event)" />
            <div class="mt-3" *ngIf="imgURL" (click)="removeImage()">remove</div>
       </div>
       <div class="col-sm-6 col-md-3">
            <img [src]="imgURL" class="previewImg" *ngIf="imgURL">
       </div>
    </div>
    
    
<form class="" [formGroup]="registerForm" autocomplete="off" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Company Name</mat-label>
                    <input matInput type="input" placeholder="Must be 6 chars long"  autocomplete="off" formControlName="companyName" />
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Company Email</mat-label>
                    <input matInput type="email" placeholder=""  autocomplete="off" formControlName="email" />
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input matInput type="text" placeholder=""  autocomplete="off" formControlName="phoneNumber" />
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Must be 5 chars"  autocomplete="off" formControlName="password" />
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="form-group">
        <mat-form-field>
            <mat-label>Company Address</mat-label>
            <textarea matInput rows="1" placeholder="Address" formControlName="companyAddress" ></textarea>
        </mat-form-field>
    </div>
    
    <div class="form-group">
        <a mat-icon-button (click)="toogleDriver()" >
            <mat-icon>{{dicon}}</mat-icon> Driver 
        </a>
    </div>
    <div *ngIf="showdriver">
        <div formGroupName="driver">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Driver Name</mat-label>
                            <input matInput placeholder=""  formControlName="driverName" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder=""  formControlName="phoneNumber" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <textarea matInput rows="1" placeholder="Description" formControlName="address" ></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="form-group">
        <a mat-icon-button (click)="toogleVehicle()" >
            <mat-icon>{{aicon}}</mat-icon> Vehicle 
        </a>
    </div>
    <div *ngIf="showVehicle">
        <div class="row" formGroupName="vehicle">
            <div class="col-md-6">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Vehicle Number</mat-label>
                        <input matInput placeholder=""  formControlName="vehicleNumber" />
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="vechile Type" formControlName="vehicleType">
                            <mat-option *ngFor="let vechile of vechiletypleList" [value]="vechile.value">
                                {{vechile.key}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group my-3">
        <mat-checkbox formControlName="accept"></mat-checkbox>
        <a href="javascript:void(0)" (click)="showModalWindow()">Terms and Conditions</a>
    </div>
    
    <button mat-raised-button color="accent" class="text-uppercase"  [disabled]="!registerForm.valid"
    (click)="submit(registerForm.value)">sign up</button>
</form>
