<h1 class="mb-2" mat-dialog-title>
    <img class="img-fluid" style="width: 35px;" src="assets/images/circuler_ambulance.png"> 
    Customer Details
</h1>
<div mat-dialog-content>
    <form class="kt-form" [formGroup]="changeEdit" autocomplete="off" novalidate>
        <div class="card p-2">
            
            <div> <mat-icon>person</mat-icon> {{uiData.requestByUserName}} </div>
            <div> <mat-icon>access_time</mat-icon> {{uiData.requestTime}} </div>

            <div> <mat-icon>house</mat-icon> {{uiData.pickupLocation}} </div>
            <div> <mat-icon>note</mat-icon> {{uiData.requestedUnit}} </div>
            <div> <mat-icon>where_to_vote</mat-icon> {{uiData.dropLocation}}</div>
            <div> <mat-icon>wc</mat-icon> {{uiData.tripType}}</div> 
            <div> <mat-icon>note</mat-icon> 
                <span *ngFor="let item of uiData.additionalItem"> {{item.itemName}} {{item.itemAmount}}</span>
            </div>
            <div> <mat-icon>payment</mat-icon> {{uiData.paymentMethod}}</div>
            
            <div class="d-flex"> <mat-icon>assignment_ind</mat-icon>
                <div class="form-group flex-grow-1"> 
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Select Driver" formControlName="driverId">
                            <mat-option *ngFor="let driver of driverList" [value]="driver._id">
                                {{driver.driverName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="d-flex">
                <mat-icon>drive_eta</mat-icon>
                <div class="form-group flex-grow-1"> 
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-select placeholder="Select Veichle" formControlName="vehicleId">
                            <mat-option *ngFor="let veichle of veichleList" [value]="veichle._id">
                                {{veichle.vehicleNumber}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div mat-dialog-actions>
            <button mat-button (click)="acceptTrip(changeEdit.value)">Accept Request</button>
            <button mat-button (click)="close()">Close</button>
        </div>
    </form>
</div>
