$navbar-height: 60px;
$sidebar-width:260px;
$sidebar-pinned-wdth:auto;

$bg-color:#f2f3f8;
$navbar-bg-color : #594DFA;
$navbar-color:#6e7899;
$sidebar-bg-color:#fff;
$sidebar-color:#3d4465;
$border-color: #f2f3f8;


// Sidebar
.wrapper {
  main {
    position: relative;
    .sidebar {
      height: 100%;
      width: $sidebar-width;
      position: absolute;
      transition: left .3s ease;
      left: -$sidebar-width;
      top: 0;
      z-index: 111;
      overflow: auto;
      >div {
        border-bottom: 1px solid;
        &:last-child {
          border-bottom: none;
        }
      }

      .sidebar-profile {
        .user-picture {
          width: 100px;
          height: 100px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .profile-details {
          .name {
            font-size: .9rem;
            font-weight: 800;
          }

          .role {
            font-size: .7rem;
            letter-spacing: 1px;
            font-weight: 700;
          }
        }
      }

      .sidebar-menu {
        >div {
          padding: 0 1.5rem;
        }
        .menu-header {
          padding: 0 1.5rem;
          font-size: .75rem;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }

    @media (min-width: 768px) {
      .sidebar {
        position: static;
        height: 100%;
      }
    }
  }

  &.pinned-sidebar {
    @media (min-width: 768px) {
      .navbar-header{
        width: $sidebar-pinned-wdth!important;
        span{
          display: none!important;
        }
      }
      .sidebar {
        width: $sidebar-pinned-wdth;
        .sidebar-profile {
          .user-picture {
            width: 40px;
            height: 40px;
          }
        }

        .profile-details,
        .menu-header,
        .view-source {
          display: none;
        }

        .sidebar-menu {
          span {
            display: none;
          }
        }
      }
    }
  }

  &.toggeled-sidebar {
    .sidebar {
      left: 0;
    }
  }
}
// Themes

.wrapper.default-theme {
  background: $bg-color;
  nav.navbar {
    background: linear-gradient(to bottom,#fff,#ddd);
    border-color: rgba($navbar-color, .3);

    .navbar-brand {
      color: lighten($navbar-color, 25%);
    }

    .right-nav {
      background: $navbar-bg-color;
    }
  }

  main {
    .overlay {
      background: #242939;
    }

    .sidebar {
      background: $sidebar-bg-color;

      >div {
        border-color: rgba($sidebar-color, .1);
      }
      .sidebar-profile {
        .name {
          color: $sidebar-color;
        }
        .role {
          color: rgba($sidebar-color, .8);
        }
      }

      .sidebar-menu {
        .menu-header {
          color: rgba($sidebar-color, .5);
        }
        
      }
    }
  }

  .text-lightning {
    color: #98a4c7;
  }
}


.wrapper {
  height: 100%;
  padding-top: 76px;
  main {
    display: flex;
    height: 100%;

    .pages {
      overflow: auto;
    }

    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;  
      opacity: .7;
      display: none;

      &.show {

        display: block;

        @media (min-width: 768px) {
          display: none;
        }
      }
    }
  }

  &.toggeled-sidebar {
    main {
      .overlay {
        display: block;

        @media (min-width: 768px) {
          display: none;
        }
      }
    }
  }
}

.actionBtnRight {
  margin-top: -45px;
}

.custHeight {
  height: calc(100% - 50px);
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#e62e2d;}
.cdk-overlay-connected-position-bounding-box{top:76px!important;}
.mat-list-item-content{border-bottom:1px solid rgba(61, 68, 101, 0.1);}
.mat-list-item-content a{color:#000!important;}
.mat-list-base{padding-top:0!important;}
mat-list-item.mat-list-item.ng-star-inserted.active{background:#eee!important;}