
<div class="d-flex">
    <div class="ml-auto mb-4 actionBtnRight">
        <button mat-stroked-button  class="text-uppercase" (click)="addVehicle()">+ Add</button>
    </div>
</div>
<table mat-table [dataSource]="vehicleList$" class="mat-elevation-z8 w-100">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
    </ng-container>
    
    <ng-container matColumnDef="vechileno">
        <th mat-header-cell *matHeaderCellDef> Vechile No </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicleNumber}} </td>
    </ng-container>
    
    <ng-container matColumnDef="vechileType">
        <th mat-header-cell *matHeaderCellDef> Vechile Type </th>
        <td mat-cell *matCellDef="let element"> {{getVehicleName(element.vehicleType)}} </td>
    </ng-container>

    <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef> CreatedOn </th>
        <td mat-cell *matCellDef="let element"> {{element.createdOn | date: 'dd, LLL yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon (click)="confirmationDialog(element)">delete</mat-icon>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
