<h1 mat-dialog-title>Create/Edit Driver</h1>
<div mat-dialog-content>
    <form class="" [formGroup]="driverForm" autocomplete="off" novalidate>
      <div class="form-group">
          <mat-form-field>
              <mat-label>Driver Name</mat-label>
              <input matInput placeholder=""  formControlName="driverName" />
          </mat-form-field>
      </div>
      <div class="form-group">
          <mat-form-field>
              <mat-label>Phone Number</mat-label>
              <input matInput placeholder=""  formControlName="phoneNumber" />
          </mat-form-field>
      </div>
      <div class="form-group">
          <mat-form-field class="mat-form-field-fluid">
              <textarea matInput rows="3" placeholder="Description" formControlName="address" ></textarea>
          </mat-form-field>
      </div>
      <div mat-dialog-actions>
          <button mat-raised-button color="accent" class="text-uppercase" 
          (click)="addDriver(driverForm.value)" [disabled]="!driverForm.valid">Save</button>
        <!-- <button mat-button cdkFocusInitial>Ok</button> -->
      </div>
    </form>
</div>
