<h3 class="mat-display-1 mb-4">Login</h3>
<div class="alert alert-danger" role="alert" *ngIf="errors">
    {{errors}}
</div>
<form class="" [formGroup]="loginForm" autocomplete="off" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Email Id"  autocomplete="off" formControlName="email" />
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password"  autocomplete="off" formControlName="password" />
                </mat-form-field>
            </div>
        </div>
    </div>
    
    <button mat-raised-button color="accent" class="text-uppercase" (click)="submit(loginForm.value)" >login</button>
</form>

<hr>
<div class="">
    <p class="text-muted mb-0"> <small>Forgot Password <a [routerLink]="['/forgot-password']">click here</a></small></p>
    <p class="text-muted"><small>Don't have account <a [routerLink]="['/register']">Sign Up</a></small></p>
</div>



