.card {
    div.card-body>div{
        padding: 3px 0;
        color: #3333339e;
        .date {
            color: #000;
        }
        .amount {
            color:#1ebf1e94;
        }
    }
    div .mat-icon{
        vertical-align: middle;
        margin-right: 10px;
        color: #ff4c4c73;
    }
}