<div class="d-flex">
    <div class="ml-auto mb-4 actionBtnRight">
        <button mat-stroked-button matTooltip="Refresh" class="text-uppercase">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 mb-3 mb-3" *ngFor="let item of scheduleTrip$">
        <div class="card" (click)="openDialog(item)">
            <div class="card-body">
                <div class="d-flex">
                    <span class="date">{{item.bookingTime | date }}</span>
                    <span class="text-muted ml-3">{{item.bookingTime | date:'shortTime' }}</span>
                    <span class="flex-grow-1 justify-content-end d-flex amount">{{item.fare}}</span>
                </div>
                <!-- <div> <mat-icon>person</mat-icon> {{(item.requestedBy.relativeDetails[0].firstName).concat(' ' + item.requestedBy.relativeDetails[0].lastName)}} </div> -->
                <div> <mat-icon>phone</mat-icon> {{item.requestedBy.phoneNumber}} </div>
                <div> <mat-icon>house</mat-icon> {{item.pickupLocation}} </div>
                <div> <mat-icon>where_to_vote</mat-icon> {{item.dropLocation}} </div>
                <div> <mat-icon>assignment_ind</mat-icon> {{item.driverId.driverName}} </div>
                <div class="d-flex flex-wrap">
                    <mat-icon>drive_eta</mat-icon> {{item.vehicleId.vehicleNumber}}
                    <span class="text-muted ml-3">{{item.tripType}}</span>
                    <span class="flex-grow-1 justify-content-end d-flex"> {{item.bookingStatus !== "ON_GOING" ? item.bookingStatus : 'Running'}}</span>
                </div>
            </div>
        </div>
    </div>

</div>