<div class="d-flex">
   <div class="ml-auto mb-4 actionBtnRight">
       <button mat-stroked-button matTooltip="Download" class="text-uppercase">
           <mat-icon>cloud_download</mat-icon>
       </button>
   </div>
</div>
<div class="row">
       <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
             <div class="card-body">
                <div class="row">
                   <div class="col-5 col-md-4">
                      <div class="icon-big text-center">
                          <mat-icon color="#FBC658">group</mat-icon>
                      </div>
                   </div>
                   <div class="col-7 col-md-8">
                      <div class="numbers">
                         <p class="card-category">Total Drivers</p>
                         <p class="card-title">{{details.totalDriver}} </p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
             <div class="card-body">
                <div class="row">
                   <div class="col-5 col-md-4">
                      <div class="icon-big text-center">
                          <mat-icon color="#6BD098">attach_money</mat-icon>
                       </div>
                   </div>
                   <div class="col-7 col-md-8">
                      <div class="numbers">
                         <p class="card-category">Revenue</p>
                         <p class="card-title">S$ {{details.totalRevenue}} </p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
             <div class="card-body">
                <div class="row">
                   <div class="col-5 col-md-4">
                      <div class="icon-big text-center">
                          <mat-icon color="#F17E5D">directions_car</mat-icon>
                      </div>
                   </div>
                   <div class="col-7 col-md-8">
                      <div class="numbers">
                         <p class="card-category">Total Ambulance</p>
                         <p class="card-title">{{details.totalVehicle}} </p>
                         <p></p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
             <div class="card-body ">
                <div class="row">
                   <div class="col-5 col-md-4">
                      <div class="icon-big text-center">
                          <mat-icon color="#007bff">schedule</mat-icon>
                      </div>
                   </div>
                   <div class="col-7 col-md-8">
                      <div class="numbers">
                         <p class="card-category">Request</p>
                         <p class="card-title">{{details.requestCompleted}}</p>
                         <p></p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>