.card {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333;
}

.card-stats .icon-big .mat-icon {
    font-size: 3em;
    min-height: 64px;
    line-height: 64px;
}

.card-stats .card-body .numbers {
    text-align: right;
    font-size: 2em;

    .card-category {
        color: #9a9a9a;
        font-size: 16px;
        line-height: 1.4em;
    }
    p {
        margin-bottom: 0px;
    }
}