    <div class="alert alert-danger" role="alert" *ngIf="errors">
        {{errors}}
    </div>
    <div class="row mb-3">
       <div class="col-sm-6 col-md-3">
            <input type="file" name="file" accept='image/*' (change)="onFileChanged($event)" />
            <div class="mt-3" *ngIf="imgURL" (click)="removeImage()">remove</div>
       </div>
       <div class="col-sm-6 col-md-3">
            <img [src]="imgURL" class="previewImg" *ngIf="imgURL">
       </div>
    </div>
    
    
<form class="" [formGroup]="profileForm" autocomplete="off" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Company Name</mat-label>
                    <input matInput type="input" placeholder="Must be 6 chars long"  autocomplete="off" formControlName="companyName" />
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input matInput type="text" placeholder=""  autocomplete="off" formControlName="phoneNumber" />
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Company Email</mat-label>
                    <input matInput type="email" placeholder=""  readonly formControlName="email" />
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Country</mat-label>
                    <input matInput type="text" placeholder="Country"  formControlName="country" readonly/>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="form-group">
        <mat-form-field>
            <mat-label>Company Address</mat-label>
            <textarea matInput rows="1" placeholder="Address" formControlName="address" ></textarea>
        </mat-form-field>
    </div>
    
    <button mat-raised-button color="accent" class="text-uppercase"  [disabled]="!profileForm.valid"
    (click)="submit(profileForm.value)">Update</button>
</form>
