<h1 class="mb-2" mat-dialog-title>{{item}}</h1>
<div mat-dialog-content>
    
    <div mat-dialog-actions class="mb-2">
        <button mat-button (click)="close()">Cancel</button>
        <button mat-button (click)="close(true)" cdkFocusInitial>Ok</button>
    </div>
</div>
