<h1 mat-dialog-title>Enter verification code</h1>
<p *ngIf="invalidOtp" class="text-danger">{{invalidOtp}}</p>
<div mat-dialog-content>
    <div class="d-flex">
        <div class="flex-grow-1">
            <ng-otp-input (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config"></ng-otp-input>
        </div>
        <div class="d-flex align-items-center">
            <button mat-raised-button color="accent" (click)="submitOTP()">Verify</button>
        </div>
    </div>
</div>