<nav class="navbar navbar-expand-md fixed-top navbar-dark flex-fill">

  <!-- header -->
  <div class="navbar-header pl-2 pr-2 ml-3 text-center">
    <a class="navbar-brand m-0 w-100 h-100 logobg" href="javascript:void(0)">
      <img src="assets/images/mycarewagon-logo.png" alt="" height="50" />
    </a>
  </div>
  <!-- sidebar toggler -->
  <div class="sidebar-toggler mr-auto mr-3 d-lg-none d-md-none">
    <a class="btn nav-link" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </a>
  </div>
  
  <!-- left box -->
  <ul class="navbar-nav flex-fill mt-1 align-items-center left-nav flex-grow-1">
    <li class="nav-item navicon d-lg-block d-xl-block d-md-block d-none">
      <a class="btn nav-link p-0" (click)="toggleSidebarPin()"><mat-icon>menu</mat-icon></a>
    </li>
  </ul>

  <!-- right menu -->
  <div class="mr-2">
    <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5 border border-primary bg-light">
        <mat-icon class="profile-pic rounded-circle img-fluid">person</mat-icon>
    </button>
    
    <mat-menu #profile="matMenu" class="mymegamenu">
        <button mat-menu-item [routerLink]="['settings']">
            <mat-icon>settings</mat-icon> Settings </button>
        <button mat-menu-item [routerLink]="['profile']">
            <mat-icon>account_box</mat-icon> Profile </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
    </mat-menu>
  </div>



</nav>