<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-12 loginbg">
            <div class="row cabLftMov">
                <div class="w-100 cabRytMov">
                    <a href="javascript:;">
                        <img class="logo rounded-lg" src="assets/images/logo.png">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-12 bg-light">
            <div class="login d-flex align-items-center py-5">
                    
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-xl-9 mx-auto">
                            <router-outlet></router-outlet> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
            