
.loginbg {
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom;
    height: 250px;
    background-image:url("../../assets/images/building-1.png");
}


.logo {
    max-width: 100px;
    max-height: 100px;
    border: 2px solid #efefef;
}
.cabLftMov{
    background:url("../../assets/images/ambulance-2.png") repeat-x left bottom;
    -webkit-animation:cabLft 4s linear 0s infinite;
    animation:cabLft 4s linear 0s infinite;
    height:inherit;
}
.cabRytMov{
    background:url("../../assets/images/ambulance-1.png") repeat-x right bottom;
	-webkit-animation:cabRyt 3s linear 0s infinite;
    animation:cabRyt 3s linear 0s infinite;
}
    
@-webkit-keyframes cabLft{
    0% {
        background-position: 0 bottom;
    }
    100% {
        background-position:1024px bottom;
    }
}
@keyframes cabLft {
    0% {
        background-position: 0 bottom;
    }
    100% {
        background-position:1024px bottom;
    }
}
        
@-webkit-keyframes cabRyt {
    0% {
        background-position:0 bottom;
    }
    100% {
        background-position:-1024px bottom;
    }
}
@keyframes cabRyt {
    0% {
        background-position: 0 bottom;
    }
    100% {
        background-position:-1024px bottom;
    }
}