.sidebar {
    .mat-list-item {
        height: auto;
        a {
            color: #ccc;
            display: inherit;
        }

        &.active {
            background: #F2F6FB;
            a {
                color: #000;
            }
        }
    }
}



// .sidebar-menu {
//     .mat-nav-list {
//       a{
//         color: #ccc;
//       }
      
//       .active {
//         background: #F2F6FB;
//         a {
//           color: #000;
//         }
        
//       }
//     }
  
//   }