<aside class="sidebar shadow-sm">

  <div class="sidebar-profile d-flex flex-column justify-content-center pt-3 pb-2">
    <div class="picture-wrapper mb-3">
      <div class="user-picture m-auto">
        <img [src]="userInfo.logo!= null ? userInfo.logo : 'assets/images/user_default.png'" class="img-fluid" alt="">
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">{{userInfo.companyName}}</p>
    </div>
  </div>
  <nav class="sidebar-menu pb-3">
      <mat-nav-list> 
          <mat-list-item class="" *ngFor="let menuitem of sideNav" 
          [routerLinkActive]="['active']">
              <a [routerLink]="[menuitem.path]" class="w-100 py-3">
                  <mat-icon class="mr-2" matTooltip='{{ menuitem.title }}'>{{ menuitem.icon }}</mat-icon> 
                  <span>{{ menuitem.title }}</span>
              </a>
          </mat-list-item>
      </mat-nav-list>
    
  </nav>
</aside>