<mat-nav-list>
    <div class="row">
        <div class="col-sm-4">Name</div>
        <div class="col-sm-8">{{getName()}}</div>
    </div>
    <div class="row">
        <div class="col-sm-4">Phone</div>
        <div class="col-sm-8">+65-{{data.requestedBy.phoneNumber}}</div>
    </div>
    <div class="row">
        <div class="col-sm-4">Time</div>
        <div class="col-sm-8">{{getTime(data.bookingTime)}} </div>
    </div>
    <div class="row">
        <div class="col-sm-4">PickUp</div>
        <div class="col-sm-8">{{data.pickupLocation}} </div>
    </div>
    <div class="row">
        <div class="col-sm-4">Val</div>
        <div class="col-sm-8">{{getUnit(data.unitNumber)}} </div>
    </div>
    <div class="row">
        <div class="col-sm-4">Drop</div>
        <div class="col-sm-8">{{data.dropLocation}} </div>
    </div>
    <div class="row">
        <div class="col-sm-4">Trip</div>
        <div class="col-sm-8">{{getEnumUIVal(data.tripType)}} </div>
    </div>
    <div class="row">
        <div class="col-sm-4">Special Notes</div>
        <div class="col-sm-8">{{data.specialNotes}} </div>
    </div>
    <div class="row">
        <div class="col-sm-4">Driver Name</div>
        <div class="col-sm-8">{{data.driverId.driverName}} </div>
    </div>
    
  </mat-nav-list>