
<h1 mat-dialog-title>Create Vehicle</h1>
<div mat-dialog-content>
    <form class="" [formGroup]="vehicleForm" autocomplete="off" novalidate>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Vehicle Number</mat-label>
                <input matInput placeholder=""  formControlName="vehicleNumber" />
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="mat-form-field-fluid">
                <mat-select placeholder="vechile Type" formControlName="vehicleType">
                    <mat-option *ngFor="let vechile of vechiletypleList" [value]="vechile.value">
                        {{vechile.key}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
      <div mat-dialog-actions>
          <button mat-raised-button color="accent" class="text-uppercase" 
          (click)="addVehicle(vehicleForm.value)" [disabled]="!vehicleForm.valid">Save</button>
        <!-- <button mat-button cdkFocusInitial>Ok</button> -->
      </div>
    </form>
</div>
