<div class="d-flex">
    <div class="ml-auto mb-4 actionBtnRight">
        <button mat-stroked-button matTooltip="Refresh" class="text-uppercase">
          <mat-icon>refresh</mat-icon>
        </button>
    </div>
</div>
<table mat-table [dataSource]="completedTrips$" class="mat-elevation-z8 w-100">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
    </ng-container>
    
    <ng-container matColumnDef="billRef">
      <th mat-header-cell *matHeaderCellDef> InvoiceNo </th>
      <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> BookingDate </th>
      <td mat-cell *matCellDef="let element"> {{element.bookingTime | date: 'dd, LLL yyyy'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.requestedBy.relativeDetails && element.requestedBy.relativeDetails[0]">
            {{element.requestedBy.relativeDetails[0].firstName}} {{element.requestedBy.relativeDetails[0].lastName}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.fare}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon [matMenuTriggerFor]="actionBtn" [matMenuTriggerData]="{data: element}">more_vert</mat-icon>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-menu-item (click)="loadMore()" [disabled]=loadmoreflag>LoadMore</button>

  <mat-menu #actionBtn="matMenu">
    <ng-template matMenuContent let-data1="data">
        <button mat-menu-item (click)="onContextMenuAction1('view',data1)">View</button>
        <button mat-menu-item *ngIf="data1.bookingStatus !== 'CANCELLED' " (click)="onContextMenuAction1('download', data1)">Get Invoice</button>
      </ng-template>
  </mat-menu>