<h1 class="mb-2" mat-dialog-title>Customer Details</h1>
<div mat-dialog-content>
    <!-- <form class="kt-form"> -->
        <div class="card p-2">
            <div> Phone :{{item.requestedBy.phoneNumber}} </div>
            <div> Time : {{item.bookingTime | date:'medium' }} </div>
            <div> Pickup : {{item.pickupLocation}}</div>
            <div> Unit : N/A</div>
            <div> Drop : {{item.dropLocation}} </div>
            <div> Trip : {{item.tripType}}</div>
            <div> Special Note : {{item.specialNotes}}</div>
            <div> Driver : {{item.driverId.driverName}}</div>
            <div> Vehicle : {{item.vehicleId.vehicleNumber}}</div>
            <div> Fare : {{item.fare}}</div>
            <div> Payment By : {{ item.paymentMethod}}</div>
            <div> Additional : </div>
        </div>
        <div mat-dialog-actions *ngIf="item.bookingStatus==='SCHEDULED'">
            <button mat-button (click)="pickupStart(item._id)">Start Trip</button>
        </div>
        <div mat-dialog-actions *ngIf="item.bookingStatus==='ON_GOING'">
            <button mat-button (click)="tripCompleted(item._id)">End Trip</button>
        </div>
    <!-- </form> -->
</div>
