<h3 class="mat-display-1 mb-4">
    <a [routerLink]="['/login']"><mat-icon matTooltip="Login">arrow_back_ios</mat-icon></a>
Forgot Password</h3>
<div class="alert alert-danger" role="alert" *ngIf="errors">
    {{errors}}
</div>
<p>Enter your emailId below. You will receive an OTP.</p>
<form class="" [formGroup]="forgotpasswordForm" autocomplete="off" novalidate>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Email Id"  autocomplete="off" formControlName="email" />
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-12 p-0" *ngIf="isUserEmailVerified">
            <div class="col-md-12">
                <div class="form-group">
                    <mat-label>OTP</mat-label>
                    <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Password"  autocomplete="off" formControlName="password" />
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <button mat-raised-button color="accent" class="text-uppercase" 
        (click)="isUserEmailVerified? resetPassword() : verifyUserEmail(forgotpasswordForm.value)" 
        [disabled]="!forgotpasswordForm.valid">Continue</button>
</form>




