/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: #f8f9fa;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root{
    height: 100%;
    display: block;
}

.mat-form-field {
    width: 100%;
}
.form-group {
    margin-bottom: 0px;
}