
<div class="list-group">
    <div class="d-flex flex-wrap align-content-center list-group-item" *ngFor="let notificationItem of notificationList$ | async">
        <div><mat-icon>drive_eta</mat-icon></div>
        <div class="flex-grow-1">
            {{notificationItem.title}}
            <p>{{getTime(notificationItem.sendOn)}}</p>
        </div>
        <div> 
            <span class="rounded-circle notifiction" *ngIf="notificationItem.isRead == 'NO' "></span>
        </div>
    </div>
</div>

<button mat-menu-item (click)="loadMore()" [disabled]=loadmoreflag>LoadMore</button>
