
<div class="wrapper default-theme" [ngClass]="getClasses()">
    <app-navbar></app-navbar>
    <main>
      <app-sidebar></app-sidebar>
      <div class="pages container-fluid d-flex flex-column">
            <div class="flex-grow-1">
                <app-breadcrumb></app-breadcrumb>
                <router-outlet></router-outlet>
            </div>
        <app-footer></app-footer>
      </div>
      <div class="overlay" (click)="toggleSidebar()"></div>
    </main>
  </div>
