<div class="d-flex">
    <div class="col-sm-2 pl-0">
        <img class="img-fluid" [src]="notificationRes.notification.icon">
    </div>
    <div>
        <b>{{notificationRes.notification.title}}</b>
        <p>{{notificationRes.notification.body}}</p>
    </div>
</div>
<button mat-raised-button (click)="btnClick(false)">Denied</button>
<button mat-raised-button (click)="btnClick(true)">Accept</button>